.container {
	max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
	margin-inline: auto;
	padding-inline: var(--container-padding-x);
}

.container-large {
	max-width: calc(var(--container-width-large) + var(--container-padding-x) * 2);
	margin-inline: auto;
	padding-inline: var(--container-padding-x);
}

.visually-hidden {
	@include visually-hidden;
}

.hidden-mobile {
	@include mobile {
		display: none !important;
	}
}
.visible-mobile {
	@include mobile-above {
		display: none !important;
	}
}

.hidden {
	display: none !important;
}
.hide {
	display: none !important;
}
