.catalog {
  &__title {
    margin-bottom: 40px;
  }
  &__filter {
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
    align-items: center;
  }

  &__filter-container {
    align-items: center;
    display: flex;
    gap: 0 20px;
  }

  .range {
    &__input {
      height: var(--input-height-small);
      width: 83px;
      border: 1px solid var(--color-accent-dark);
      text-align: center;
      font-size: 15px;
      color: var(--color-dark-text);
    }
  }

  &__filter-sort {
    display: flex;
    gap: 0 20px;
  }
}
