.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 20px;

  .catalog-window {
    position: relative;
    background-color: transparent;
    color: inherit;
    display: flex;
    gap: 0 8px;
    align-items: center;
    &:hover {
      color: var(--color-accent);
    }
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 15px;
      background: #db1c1c;
      bottom: -16px;
      opacity: 0;
    }

    @include fluid-text(25, 20);

    &__icon {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      height: 14px;
      width: 24px;

      span {
        width: 100%;
        height: 2px;
        background-color: var(--color-accent);
      }
    }
    &__dropdown {
      width: 618px;
      font-size: 17px;
      color: var(--color-dark-text);
      position: absolute;
      top: 52px;
      z-index: 100;
      background: var(--color-light-card);
      transition: 0.4s linear;
      transform-origin: 0 0;
      transform: rotateX(90deg);
      visibility: hidden;
      opacity: 0;

      &::before {
        content: "";
        position: absolute;
        width: 20px;
        height: 20px;
        background: var(--color-light-card);
        left: 50px;
        top: -10px;
        transform: rotate(45deg);
      }
    }
    &__top {
      padding: 30px 50px;
      display: flex;
      gap: 0 30px;
      border-bottom: var(--border-gray);
      &::before,
      &::after {
        background: var(--color-gray);
      }

      &-select {
        background: transparent;
        font-size: 17px;
        font-weight: 600;
        color: var(--color-dark-text);
        position: relative;
        &:hover {
          span {
            transform: rotateY(0deg);
          }
        }
        span {
          transition: 0.3s ease;
          transform-origin: center;
          transform: rotateY(90deg);
        }
      }
      &-select.-active {
        span {
          transform: rotateY(0deg);
        }
      }
    }
    &__list {
      display: none;
      padding: 40px 50px 50px;
      white-space: nowrap;
      width: 100%;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px 40px;
      transition-duration: var(--transition-duration);

      &-link {
        &:hover {
          color: var(--color-accent);
        }
      }
    }
    &__list.-active {
      display: grid;
    }
  }

  &__form {
    position: relative;
    max-width: 418px;
    width: 100%;
    &-search {
      color: inherit;
      font-size: inherit;
      padding: 11px 0 11px 54px;
      width: 100%;
      height: var(--input-height-small);
      background: transparent;
      border: var(--border-dark);

      &::-webkit-search-cancel-button {
        display: none;
      }

      &::placeholder {
        color: var(--color-gray-text);
        font-size: inherit;
        font-family: inherit;
      }
    }

    &-button {
      position: absolute;
      left: 22px;
      top: 50%;
      transform: translateY(-50%);
      background: transparent;
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;
    gap: 0 20px;
    max-width: 560px;
    width: 100%;
  }
  &__item {
    position: relative;
    transition: 0.2s linear;
    overflow: hidden;
    padding: 22px 0;
    &::before {
      position: absolute;
      content: "";
      height: 22px;
      width: 6px;
      background-image: url("../img/header/menu-accent.svg");
      background-repeat: no-repeat;
      top: 48px;
      left: 50%;
      transform: translateX(-50%) translateY(21px);
      transition: 0.3s ease;
    }

    &:hover {
      color: var(--color-accent);

      &::before {
        transform: translateX(-50%) translateY(0px);
      }
    }
  }
}

.catalog-window:hover {
  .catalog-window__dropdown {
    transform: rotateX(0deg);
    visibility: visible;
    opacity: 1;
  }
}
