.marceting__filters {
	&-list {
		display: flex;
		justify-content: space-between;
		gap: 20px;
		margin-bottom: 20px;
	}

	&-item {
		overflow: hidden;
		position: relative;
		padding-bottom: 20px;
		@include fluid-text(30, 20);
		font-weight: 500;
		transition-duration: var(--transition-duration);

		@include hover {
			color: var(--color-accent);
		}
	}
	&-item:hover &-accent {
		transform: rotateY(0deg);
	}
	&-accent {
		--marceting-accent-transition-duration: 0.4s;
		position: absolute;
		display: block;
		left: 0;
		right: 0;
		margin: 0 auto;
		bottom: 18px;
		height: 2px;
		width: 99%;
		transition-duration: var(--marceting-accent-transition-duration);
		background-color: var(--color-accent);
		transform-origin: center;
		transform: rotateY(90deg);

		&::after {
			content: "";
			position: absolute;
			@include square(4px);
			background-color: var(--color-accent);
			left: 0px;
			top: 50%;
			transform: translateY(-50%) rotate(45deg);
		}
		&::before {
			content: "";
			position: absolute;
			@include square(4px);
			background-color: var(--color-accent);
			right: 0px;
			top: 50%;
			transform: translateY(-50%) rotate(45deg);
		}
	}
}
