.mini-basket {
  position: relative;
  font-size: 16px;
  font-weight: 500;

  &__wrapper {
    position: absolute;
    width: 100%;
    padding-top: 20px;
  }
  &__container {
    position: absolute;
    right: 0;
    top: 12px;
    z-index: 104;

    background: var(--color-light-bg);
    outline: 2px var(--color-light-bg) solid;
    border: var(--border-light);
    border-bottom: 10px var(--color-accent) solid;

    width: 468px;
    padding: 20px;

    display: flex;
    flex-direction: column;

    transition: 0.2s ease;
    transform: scale(0.95);
    visibility: hidden;
    opacity: 0;

    color: #000; // временно
  }

  &__inner {
    display: flex;
    flex-direction: column;
    gap: 10px 0;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: var(--border-gray);
  }

  &__top {
    border-bottom: var(--border-gray);

    margin-bottom: 20px;

    span {
      display: inline-block;
      padding: 10px 8px;
      border-bottom: var(--border-light);
    }
  }

  &__card {
    display: flex;
    gap: 0 10px;
  }

  &__cell.-img {
    width: 50px;
    height: 50px;

    img {
      width: 100%;
      height: 100%;
    }
  }
  &__cell.-name {
    flex: 1;
    display: -webkit-box; /* Используем flexbox для создания колонки */
    -webkit-box-orient: vertical; /* Указываем направление на вертикальное */
    overflow: hidden; /* Скрываем переполнение */
    -webkit-line-clamp: 3;
  }

  &__cell {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__field {
    width: 40px;
    text-align: center;
    padding: 3px;
    font-size: 14px;
    margin: 0 8px;
  }

  .plus-button,
  .minus-button {
    width: 11px;
    height: 11px;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      width: 2px;
      height: 100%;
      background: var(--color-dark-text);
      top: 0;
      transform: rotate(90deg);
      border-radius: 4px;
    }
  }

  .plus-button {
    &::before {
      content: "";
      position: absolute;
      width: 2px;
      height: 100%;
      background: var(--color-dark-text);
      top: 0;
      border-radius: 4px;
    }
  }

  .delete-button {
    margin-left: 10px;
    width: 12px;
    height: 12px;
    position: relative;
    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 2px;
      height: 100%;
      background: var(--color-dark-text);
      top: 0;
      border-radius: 4px;
    }

    &::after {
      transform: rotate(45deg);
    }
    &::before {
      transform: rotate(-45deg);
    }
  }
  .mini-basket__final-price {
    display: flex;
    justify-content: space-between;
    align-items: center;

    text-transform: uppercase;
    margin-bottom: 20px;
  }
  .mini-basket__final-nav {
    display: flex;
    justify-content: center;
  }
}

.user-action__item:hover .mini-basket__container {
  transform: scale(1);
  visibility: visible;
  opacity: 1;
}
