.nav {
	padding: 13px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 0 20px;
	overflow: hidden;

	.catalog__button {
		background-color: transparent;
		color: inherit;
		display: flex;
		gap: 0 8px;
		align-items: center;

		@include fluid-text(25, 20);

		&-icon {
			display: flex;
			flex-direction: column;
			justify-content: space-between;

			height: 14px;
			width: 24px;

			span {
				width: 100%;
				height: 2px;
				background-color: var(--color-accent);
			}
		}
	}

	&__form {
		position: relative;
		max-width: 418px;
		width: 100%;
		&-search {
			color: inherit;
			font-size: inherit;
			padding: 11px 0 11px 54px;
			width: 100%;
			height: var(--input-height-small);
			background: transparent;
			border: var(--border-dark);

			&::-webkit-search-cancel-button {
				display: none;
			}

			&::placeholder {
				color: var(--color-gray-text);
				font-size: inherit;
				font-family: inherit;
			}
		}

		&-button {
			position: absolute;
			left: 22px;
			top: 50%;
			transform: translateY(-50%);
			background: transparent;
		}
	}

	&__list {
		display: flex;
		justify-content: space-between;
		gap: 0 20px;
		max-width: 560px;
		width: 100%;
	}
	&__item {
		position: relative;
		transition: 0.2s linear;
		&::before {
			position: absolute;
			content: "";
			height: 22px;
			width: 6px;
			background-image: url("../img/header/menu-accent.svg");
			background-repeat: no-repeat;
			top: 26px;
			left: 50%;
			transform: translateX(-50%) translateY(21px);
			transition: 0.3s ease;
		}

		&:hover {
			color: var(--color-accent);

			&::before {
				transform: translateX(-50%) translateY(0px);
			}
		}
	}
}
