.newsletter {
	display: flex;
	max-width: var(--container-width-large);
	margin: 0 auto;

	&__content {
		flex: 0 0 100%;
	}
	&__img {
		flex: 0 0 50%;
		transform: translateX(-100%);
		img {
			max-width: 100%;
		}
	}
	&__container {
		max-width: var(--container-width);
		padding-inline: var(--container-padding-x);
		margin: 0 auto;
	}
	&__body {
		width: 50%;
		padding-right: 70px;
	}
	&__title {
		margin-bottom: 30px;
	}
	&__subtitle {
		@include fluid-text(25, 17);
		margin-bottom: 30px;
		font-weight: 500;
		line-height: 1;
	}
	&__form {
		max-width: 392px;
	}
	&__label {
		display: block;
		font-size: 17px;
		margin-bottom: 9px;
		&--checkbox {
			font-size: 13px;
			display: inline-block;
			padding-left: 30px;
		}
	}
	&__input {
		display: block;
		height: var(--input-height);
		width: 100%;
		padding: 23px 23px 23px 30px;
		font-size: 17px;
		margin-bottom: 16px;
	}
	&__checkbox-box {
		margin-bottom: 32px;
	}
	&__checkbox {
		overflow: hidden;
		position: absolute;
		width: 20px;
		height: 20px;
		display: inline-block;
		padding-left: 20px;
		z-index: 100;
		opacity: 0;
	}
	&__checkbox-style {
		margin-top: 0px;
		position: absolute;
		width: 20px;
		height: 20px;
		background-color: transparent;
		border: var(--border-light);
		transition: var(--transition-duration) linear;
	}
}
.newsletter__checkbox:checked + .newsletter__checkbox-style {
	background-color: var(--color-accent);
	border-color: transparent;
}
.newsletter__checkbox:checked + .newsletter__checkbox-style::before {
	position: absolute;
	content: "";
	width: 14px;
	height: 14px;
	background-image: url("../../img/newsletter/arrow.svg");
	background-repeat: no-repeat;
	top: 1px;
	left: 1px;
}
