.reviews {
  padding-bottom: calc(var(--section-padding-y) - 20px) !important;
  &__title {
    text-align: center;
    margin-bottom: 50px;
  }
  &__swiper {
    max-width: 1216px;
    margin: 0 auto;
    box-sizing: content-box;
    padding: 0 350px !important;
    padding-bottom: 50px;
  }
  &__wrapper {
    padding-top: 50px;
    padding-bottom: 70px;
  }
  &__slide {
    transition: 0.4s linear;
    position: relative;
    padding: 50px;
    background-color: var(--color-dark);
    max-width: 598px;

    &-img {
      position: absolute;
      left: 50px;
      top: -50px;
      z-index: 100;
    }
    &-text {
      @include fluid-text(17, 15);
      color: var(--color-light-text);
      margin-bottom: 33px;
      min-height: 144px;
    }

    &-name {
      padding-left: 43px;
      position: relative;
      font-size: 20px;
      color: var(--color-accent);
      font-family: var(--font-family-h1);

      &::before {
        position: absolute;
        content: "";
        @include square(28px);
        background-image: url("../../img/reviews/inst.svg");
        background-repeat: no-repeat;
        left: 0px;
      }
    }
  }
  &__border {
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: var(--color-accent);
    left: 0;
    bottom: 0px;
    &:nth-child(2) {
      top: 0;
      bottom: auto;
    }
    &::after,
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
    &::before {
      left: 0;
      border-top: 7px solid transparent;
      border-left: 12px solid var(--color-accent);
      border-bottom: 7px solid transparent;
    }
    &::after {
      right: 0;
      border-top: 7px solid transparent;
      border-right: 12px solid var(--color-accent);
      border-bottom: 7px solid transparent;
    }
  }
  &__btn-container {
    position: relative;
  }

  &__btn-container {
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    max-width: calc(var(--container-width) + 140px);
    position: absolute;
  }
  &__next,
  &__prev {
    &::after {
      content: "" !important;
    }
    width: 40px !important;
    height: 40px !important;
    background: var(--color-light-bg);
    border: var(--border-light);
  }
  &__next::after {
    border-top: 7px solid transparent;
    border-left: 12px solid var(--color-accent);
    border-bottom: 7px solid transparent;
  }
  &__prev::after {
    border-top: 7px solid transparent;
    border-right: 12px solid var(--color-accent);
    border-bottom: 7px solid transparent;
  }

  &__pagination {
    bottom: 0 !important;
  }
}
.swiper-slide:not(.swiper-slide-active, .swiper-slide-active + .swiper-slide) {
  transform: scale(0.8);
  filter: opacity(40%);
}
.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  position: relative;
  width: 16px;
  height: 16px;
  border-radius: 0 !important;
  background-color: transparent !important;
  border: var(--border-light) !important;
  opacity: 1 !important;
  &::after {
    content: "";
    transition: var(--transition-duration) linear;
    position: absolute;
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 10px;
    width: 10px;
    background: var(--color-accent);
  }
}
.swiper-horizontal
  > .swiper-pagination-bullets
  .swiper-pagination-bullet-active {
  &::after {
    opacity: 1;
  }
}
