.underline {
  position: absolute;
  display: block;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: 0px;
  height: 2px;
  width: 99%;
  background-color: var(--color-accent);
  &::before {
    content: "";
    position: absolute;
    width: 4px;
    aspect-ratio: 1;
    background-color: var(--color-accent);
    right: 0px;
    top: 50%;
    -webkit-transform: translateY(-50%) rotate(45deg);
    -ms-transform: translateY(-50%) rotate(45deg);
    transform: translateY(-50%) rotate(45deg);
  }
  &::after {
    content: "";
    position: absolute;
    width: 4px;
    aspect-ratio: 1;
    background-color: var(--color-accent);
    left: 0px;
    top: 50%;
    -webkit-transform: translateY(-50%) rotate(45deg);
    -ms-transform: translateY(-50%) rotate(45deg);
    transform: translateY(-50%) rotate(45deg);
  }
}
