.user-forms {
  .user-form {
    position: absolute;
    width: 480px;

    background: var(--color-light-bg);
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 100;

    display: none;
    flex-direction: column;

    padding: 40px 58px 40px;
    outline: 2px #eee solid;
    border: var(--border-light);
    &__close {
      position: absolute;
      top: 20px;
      right: 20px;
    }

    &__title {
      text-align: center;
      margin-bottom: 20px;
    }
    &__label {
      margin-bottom: 10px;
      color: var(--color-gray-text);
    }
    &__input {
      width: 100%;
      height: var(--input-height);
      padding: 23px 23px 23px 30px;
      font-size: 17px;

      margin-bottom: 10px;
    }
    &__btn {
      margin: 10px auto 20px;
    }
    &__checkbox-box {
      display: flex;
      align-items: center;
      gap: 0 20px;
      margin-bottom: 10px;
      label {
        font-size: 13px;
        color: var(--color-gray-text);
      }
    }
    &__log {
      button {
        font-size: 17px;
        color: var(--color-gray-text);
        text-decoration: underline;
        &:hover {
          color: var(--color-accent);
        }
      }
    }
  }
  .user-form__login {
    top: 50%;
    transform: translateY(-66%);
  }
  .user-form__active {
    display: flex;
  }
}
